.button {
  color: inherit;
  display: block;
  border-radius: 0;
  border: 1px solid currentColor;
  background-color: transparent;
  padding: 1em 1.5em;
  text-decoration: inherit;
  font-weight: 600;
  max-width: fit-content;
  transition: transform 45ms ease-in-out;
  transform: scale(1);
  font-style: normal;
  font-family: 'apparat';
}

.button:hover {
  background-color: #ffffff1a;
  transform: scale(1.02);
}

.button:active {
  border-color: #ffffffc9;
  color: #ffffffc9;
  transform: scale(0.99);
  background-color: #ffffff1a;
}
