@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.socialWrapper h3 {
  text-align: center;
  margin-bottom: 0.75rem;
}

.socialContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}
