:root {
  --wide-container: 60rem;
  --narrow-container: 40rem;
  /* --font-family-sans: 'EB Garamond'; */
  /* --font-family-sans: 'Open Sans'; */
  /* --font-family-sans: 'Quicksand'; */
  /* --font-family-sans: 'Inconsolata'; */
  /* --font-family-sans: 'Cairo', -apple-system, BlinkMacSystemFont, sans-serif; */
  --font-family-sans: 'apparat', sans-serif;
  font-weight: 300;
  font-style: normal;

  --color-black: #404040;
  --color-dark-gray: #262626;
  --color-gray: #697a90;
  --color-light-gray: #bfbfbf;
  --color-very-light-gray: #e7ebed;
  --color-white: #fff;
  --color-accent: #2ea64c;
  --color-accent2: #251659;

  /* .primary { color: #028C41; }
  .primary-2 { color: #2EA64C; }
  .secondary-1 { color: #220DA6; }
  .secondary-2 { color: #0B0859; }

  .white { color: #F2F2F2; }
  .light-gray { color: #BFBFBF; }
  .black { color: #404040; }
  .dark-black { color: #262626; } */

  /* Typography */
  --unit: 16;
  --font-micro-size: calc(10 / var(--unit) * 1rem); /* 10px */
  --font-micro-line-height: calc(12 / 10); /* 12px */
  --font-small-size: calc(14 / var(--unit) * 1rem); /* 14px */
  --font-small-line-height: calc(21 / 14); /* 21px */
  --font-base-size: 1.15em; /* 16px */
  --font-base-line-height: calc(24 / var(--unit)); /* 24px */
  --font-large-size: calc(18 / var(--unit) * 1rem); /* 18px */
  --font-large-line-height: calc(27 / 18); /* 27px */

  --font-title3-size: calc(21 / var(--unit) * 1rem); /* 21px */
  --font-title3-line-height: calc(30 / 21); /* 30px */
  --font-title2-size: calc(24 / var(--unit) * 1rem); /* 24px */
  --font-title2-line-height: calc(33 / 24); /* 33px */
  --font-title1-size: calc(49 / var(--unit) * 1rem); /* 49px */
  --font-title1-line-height: calc(57 / 49); /* 57px */

  /* Widths */
  --width-x-small: 20em;
  --width-smaller: 32em;
  --width-small: 40em;
  --width-medium: 60em;
  --width-large: 80em;
  --width-x-large: 100em;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
button {
  /* font-family: 'futura-pt-bold'; */
  /* font-family: fairplex-wide, serif; */
  /* font-weight: 700; */
  /* font-style: normal; */
  font-family: 'Fjalla One', sans-serif;
}

input,
textarea {
  font-family: var(--font-family-sans);
}

p,
li {
  line-height: 1.8;
}

::selection {
  background: var(--color-accent); /* WebKit/Blink Browsers */
  color: white;
}
::-moz-selection {
  background: var(--color-accent); /* Gecko Browsers */
  color: white;
}
