@import './custom-media.css';
@import './custom-properties.css';

html {
  font-family: var(--font-family-sans);
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
}

body {
  -webkit-font-smoothing: antialiased;
  background: var(--color-white);
  color: var(--color-black);
  margin: 0;
}

html,
body,
:global(#__next),
:global(.container) {
  height: 100%;
}

:global(.content) {
  min-height: calc(100% - 84px - 218px);
  margin-top: calc(100px + 2.5em);

  @media (--media-max-large) {
    margin-top: calc(100px + 1.85em);
  }
}

section h3 {
  margin-bottom: 0;
  margin-top: 1.75em;
  color: var(--color-black);
  font-size: var(--font-base-size);
}

section h3 + p {
  margin-top: 0.25em;
}
