@import '../styles/custom-media.css';

.fifty {
  display: grid;
  grid-template-areas:
    'hero'
    'benefits'
    'section';
  @media (--media-min-large) {
    grid-template-areas:
      'hero hero'
      'textSection submissionForm';
  }
}

.fifty > :nth-child(2) {
  @media (--media-min-large) {
    border-right: 2px solid #f3f3f3;
  }
}

.fifty > :nth-child(4) {
  @media (--media-min-large) {
    grid-column: span 2;
  }
}

.robotics {
  display: grid;
  grid-template-areas:
    'hero'
    'textSection'
    'imageSection';
  @media (--media-min-large) {
    grid-template-areas:
      'hero hero'
      'imageSection textSection';
  }
}

.about {
  display: grid;
  grid-template-areas:
    'hero'
    'textSection'
    'teamList'
    'textSection'
    'imageSection'
    'textSection';
  @media (--media-min-large) {
    grid-template-areas:
      'hero hero'
      'textSection teamList'
      '. .'
      'imageSection .'
      'imageSection .';
  }
}

.about > :nth-child(1) {
  grid-row: 1;
  grid-column: 1;
  @media (--media-min-large) {
    grid-row: 1;
    grid-column: span 2;
  }
}

.about > :nth-child(2) {
  grid-row: 2;
  grid-column: 1;
  @media (--media-min-large) {
    grid-row: 2;
    grid-column: 1;
    border-right: 2px solid #f3f3f3;
  }
}

.about > :nth-child(3) {
  grid-row: 3;
  grid-column: 1;
  @media (--media-min-large) {
    grid-row: 2;
    grid-column: 2;
  }
}

.about > :nth-child(4) {
  grid-row: 4;
  grid-column: 1;
  @media (--media-min-large) {
    grid-row: 3;
    grid-column: span 2;
  }
}

.about > :nth-child(5) {
  grid-row: 5;
  grid-column: 1;
  @media (--media-min-large) {
    grid-row: 4;
  }
}

.about > :nth-child(6) {
  grid-row: 6;
  grid-column: 1;
  @media (--media-min-large) {
    grid-row: 4;
    grid-column: 2;
  }
}

.fifty > :nth-child(1) {
  @media (--media-min-large) {
    grid-column: span 2;
  }
}

.home {
  display: grid;
  width: 100%;
  grid-template-areas:
    'hero'
    'industries'
    'textSection'
    'imageSection'
    'youTube'
    'youTube'
    'twitter';
  @media (--media-min-large) {
    grid-template-areas:
      'hero hero hero hero hero'
      'industries industries industries industries industries'
      '. . textSection . .'
      'imageSection imageSection imageSection imageSection imageSection'
      'youTube youTube youTube twitter twitter'
      'youTube youTube youTube twitter twitter'
      'youTube youTube youTube twitter twitter'
      'youTube youTube youTube twitter twitter';
  }
}

.home > :nth-child(3) {
  @media (--media-min-large) {
    grid-column: span 5;
  }
}

.home > :nth-child(5) {
  @media (--media-min-large) {
    padding-top: 2.75rem;
  }
}

.home > :nth-child(7) {
  @media (--media-min-large) {
    padding-top: 1.5rem;
  }
}

.home > :nth-child(5),
.home > :nth-child(6) {
  grid-row: span 1;
  @media (--media-min-large) {
    grid-row: span 2;
  }
}
