@import '../../styles/custom-media.css';
@import '../../styles/custom-properties.css';

.productPageContainer {
  max-width: var(--width-small);
  margin: 0 auto;
  margin-top: 11em;
  padding: 0 2rem;
}

.productDescription h1,
.productDescription h2,
.productDescription h3,
.productDescription h4,
.productDescription h5,
.productDescription h6 {
  margin-bottom: 0.25rem;
  margin-top: 1.75rem;
}

.productDescription h2 {
  margin-top: 3rem;
}

.productDescription > div > p {
  margin-bottom: 1rem;
  margin-top: 0;
}

.productDescription > div > p > strong {
  margin-top: 2em;
  display: block;
}

.productNameWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.productName {
  margin: 0;
  font-size: 2.5em;
  line-height: 1em;
  white-space: nowrap;
  @media (--media-max-large) {
    white-space: normal;
  }
}

.manufacturerName {
  margin: 0;
  color: var(--color-gray);
}

.askAnEngineer a {
  background-color: #251659;
  color: var(--color-white);
  margin: 0;
  white-space: nowrap;
}

.askAnEngineer a:hover {
  background-color: #5a507e;
  color: var(--color-white);
}

.productTags {
  display: flex;
  flex-direction: row;
  gap: 2em;
  justify-content: flex-end;
  align-items: center;
  margin-top: -1em;
}

.productTags p {
  background-color: #251659;
  margin: 0;
  padding: 0.75em 1.25em;
  font-size: var(--font-small-size);
  line-height: var(--font-small-line-height);
  color: var(--color-dark-gray);
  color: white;
  white-space: nowrap;
}

.productImage {
  max-width: var(--width-smallest);
  margin: 0 auto;
  margin-top: 2em;
  border: 2px solid var(--color-light-gray);
  background: var(--color-accent-light);

  @media (--media-max-large) {
    max-width: 30em;
  }

  @media (--media-max-medium) {
    max-width: 23em;
  }

  @media (--media-max-small) {
    max-width: 100%;
  }
}

.embed3dModelWrapper iframe {
  margin-top: 1em;
  width: 100%;
  height: 450px;
  border: 2px solid var(--color-light-gray);
}

.productDescription {
  max-width: var(--width-small);
  margin: 0 auto;
}

.productDescription h1,
.productDescription h2,
.productDescription h3,
.productDescription h4,
.productDescription h5,
.productDescription h6 {
  margin-bottom: 0.25rem;
  margin-top: 1.75rem;
}

.productDescription h2 {
  margin-top: 3rem;
  font-size: var(--font-title2-size);
  line-height: var(--font-title2-line-height);
}
.productDescription h3 {
  font-size: var(--font-title3-size);
  line-height: var(--font-title3-line-height);
}

.productDescription > div > p {
  margin-bottom: 1rem;
  margin-top: 0;
}

.productDescription > div > p > strong {
  margin-top: 2em;
  display: block;
}

.imageGallery {
  max-width: var(--width-small);
}

.techSpecsTable {
  max-width: var(--width-small);
  padding: 0.5rem 0 1.5rem 0;
  font-size: var(--font-small-size);
}

.techSpecsTable tr {
  text-align: left;
  @media (--media-max-small) {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
  }
}

.techSpecsTable tr:last-child {
  @media (--media-max-small) {
    margin-bottom: 0;
  }
}

.techSpecsTable th {
  padding-right: 2em;
  padding-top: 0.15em;
  vertical-align: top;
  min-width: 13.5em;
}

.techSpecsTable td {
  padding: 0.15em;
}

.brochureButton,
.addToCart {
  background-color: var(--color-accent);
  color: var(--color-dark-gray);
  font-size: var(--font-title3-size);
  font-size: var(--font-base-size);
  font-family: 'Fjalla One', sans-serif;
  font-family: var(--font-family-sans);
  padding: 0.75rem 1.75rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  border: none;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  /* text-transform: uppercase; */
  @media (--media-max-small) {
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.addToCart {
  transform: scale(0.85);
  margin-top: 0.3em;

  @media (--media-max-medium) {
    width: 100%;
    padding-bottom: 1rem;
    margin-bottom: 0.75rem;
  }
}

.brochureButton svg,
.addToCart svg {
  padding-left: 0.75rem;
}

.brochureButton:hover,
.addToCart:hover {
  cursor: pointer;
  transform: scale(1.025);
}

.brochureButton:active,
.addToCart:active {
  transform: scale(0.99);
}

.addToCart:hover {
  transform: scale(0.9);
}

.addToCart:active {
  transform: scale(0.84);
}

.paypalButtonContainer {
  width: 80%;
  /* margin: 0 auto; */
  margin-top: 4rem;

  @media (--media-max-large) {
    width: 100%;
  }
}

.paypalButtonContainer h2 {
  margin-bottom: 0.75rem;
  font-size: var(--font-title2-size);
  line-height: var(--font-title2-line-height);
}

.paypalButtonContainer iframe {
  z-index: 99 !important;
}

.accessoryHeading {
  margin-top: 3.5rem;
  margin-bottom: 0.5rem;
  font-size: var(--font-title2-size);
}

.accessoryInformationText {
  margin-top: 0;
  margin-bottom: 0.25rem;
}

.accessoryGroup {
  margin-bottom: 1rem;
}
