@import '../../styles/custom-media.css';
@import '../../styles/custom-properties.css';

.productPageContainer {
  max-width: var(--width-small);
  margin: 0 auto;
  margin-top: 11em;
}

.productNameWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.productName {
  margin: 0;
  font-size: 2.5em;
  line-height: 1em;
}

.manufacturerName {
  margin: 0;
  color: var(--color-gray);
}

.productTags {
  display: flex;
  flex-direction: row;
  gap: 2em;
  justify-content: flex-end;
  align-items: center;
  margin-top: -1em;
}

.productTags p {
  background-color: #251659;
  margin: 0;
  padding: 0.75em 1.25em;
  font-size: var(--font-small-size);
  line-height: var(--font-small-line-height);
  color: var(--color-dark-gray);
  color: white;
  white-space: nowrap;
}

.productImage {
  max-width: var(--width-small);
  margin: 0 auto;
  margin-top: 2em;
  /* border: 2px solid var(--color-accent); */
  border: 2px solid var(--color-light-gray);
}

.productDescription {
  max-width: var(--width-small);
  margin: 0 auto;
}

.imageGallery {
  max-width: var(--width-small);
}

.techSpecsTable th {
  padding-right: 2em;
}

.techSpecsTable tr {
  text-align-last: left;
}

.brochureButton {
  background-color: var(--color-accent);
  color: var(--color-dark-gray);
  font-size: var(--font-title3-size);
  font-size: var(--font-base-size);
  font-family: 'Fjalla One', sans-serif;
  font-family: var(--font-family-sans);
  padding: 0.75em 1.75em;
  margin-top: 1em;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}

.brochureButton svg {
  padding-left: 0.5rem;
}

.brochureButton:hover {
  cursor: pointer;
  transform: scale(1.025);
}

.brochureButton:active {
  transform: scale(0.99);
}
