:root {
  /* Brand colors */
  --brand-primary: #00a651;
  --brand-primary--inverted: #026a33;
  --brand-secondary: #1c1c1c;
  --brand-secondary--inverted: #ffffff;

  /* Main Navigation */
  --main-navigation-color: var(--brand-secondary);
  --main-navigation-color--inverted: var(--brand-secondary--inverted);
}

/* Color Theme Swatches in Hex */
.primary { color: #028C41; }
.primary-2 { color: #2EA64C; }
.secondary-1 { color: #220DA6; }
.secondary-2 { color: #0B0859; }

.white { color: #F2F2F2; }
.light-gray { color: #BFBFBF; }
.black { color: #404040; }
.dark-black { color: #262626; }
