@import '../../styles/custom-media.css';
@import '../../styles/custom-properties.css';

.benefitPageContainer {
  grid-area: benefits;
  margin: 0 auto;
  padding: 1rem 2rem 0 2rem;
  @media (--media-min-medium) {
    padding: 1rem 4rem;
  }
  margin-bottom: -4rem;
}

.benefitsPageHeading {
  max-width: var(--width-small);
  font-size: var(--font-title2-size);
  line-height: var(--font-title2-line-height);
  margin-bottom: 1.25rem;
}

.benefitList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  justify-content: center;
  gap: 1.5rem;
  max-width: var(--width-large);
  margin: 0 auto;
  padding-bottom: 4rem;

  @media (--media-max-large) {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  @media (--media-max-medium) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.benefit {
  border: 1px solid var(--color-dark-gray);
  border: 2px solid var(--color-accent);
  padding: 1rem;
  color: var(--color-dark-gray);
  box-shadow: 2px 3px 6px rgb(0 0 0 / 23%);
}

.benefitTitle {
  margin: 0;
  font-family: var(--font-family-sans);
  font-size: 3rem;
}

.benefitSubtitle {
  margin: 0;
  margin-top: -0.75rem;
  font-family: var(--font-family-sans);
}

.benefitText {
  font-family: var(--font-family-sans);
}
