@import '../../styles/custom-media.css';
@import '../../styles/custom-properties.css';

.companyContactWrapper {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-right: 2px solid #f3f3f3;
  @media (--media-max-large) {
    margin: 0 auto;
    border-right: none;
    padding: 0 2rem;
    max-width: var(--width-small);
  }

  @media (--media-max-small) {
    padding: 0;
  }
}

.companyContactWrapper iframe {
  @media (--media-max-large) {
    max-width: calc(100vw - 1.5em);
    margin: 0 0.5em;
  }
}

.companyContactWrapper h3 {
  margin-top: 0;
  @media (--media-max-large) {
    margin-top: 2.5em;
    padding-left: 0.5em;
  }
}

.companyContactContainer h3 {
  margin-top: 3em;
  @media (--media-max-large) {
    margin-top: 2.5em;
  }
}

.companyContactContainer {
  max-width: var(--width-smaller);
  margin: 0 auto;
}

.companyContactContainer h4 {
  background-color: var(--color-accent2);
  padding: 0.75rem;
  color: var(--color-very-light-gray);
  font-weight: 600;
  font-family: 'apparat';
}

.companyContactContainer p {
  padding: 0 1.5rem 0 0.75rem;
  font-size: var(--font-base-size);
  display: flex;
  flex-wrap: wrap;
}

.companyContactContainer span.companyContactSubHeading {
  margin-right: 0.5rem;
  white-space: nowrap;
}

.companyContactContainer a {
  text-decoration: none;
  color: var(--color-accent);
}

.companyContactContainer a:hover {
  text-decoration: underline;
}

.companyContactContainer address p {
  margin: 0;
}
