@import '../../styles/custom-media.css';
@import '../../styles/custom-properties.css';

.contactFormContainer {
  max-width: var(--width-small);
  margin: 0 auto;
  width: max-content;
  padding: 4rem 0;
  line-height: var(--font-large-line-height);
  font-size: var(--font-large-size);
}

.contactFormContainer label {
  font-size: smaller;
  font-weight: bold;
  margin-top: 1.25rem;
}

.contactFormContainer input,
.contactFormContainer label {
  display: block;
}

.contactFormContainer input,
.contactFormContainer textarea {
  line-height: var(--font-medium-line-height);
  font-size: var(--font-large-size);
  padding: 0.75rem;
  border-radius: 0;
  border: 1px solid var(--color-dark-gray);
  margin-left: 0.5rem;
  vertical-align: text-top;
  margin-top: 0.25rem;
  width: 100%;
}

.contactFormContainer input[type='checkbox'] {
  float: left;
  margin: 0.05rem 0.75rem 0 0.5rem;
  width: 1em;
  height: 1em;
  color: var(--color-accent);
}

.contactFormContainer input[type='checkbox']:hover {
  cursor: pointer;
}

.contactFormContainer label[title='current-customer-label']:hover {
  cursor: pointer;
}

.contactFormContainer button {
  background-color: var(--color-accent);
  padding: 0.75em 1.75em;
  font-size: var(--font-title3-size);
  font-family: var(--font-family-sans);
  font-family: 'futura-pt';
  text-transform: uppercase;
  border: none;
  color: var(--color-dark-gray);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

.contactFormContainer button svg {
  padding-left: 0.5rem;
}

.contactFormContainer button:hover {
  cursor: pointer;
  transform: scale(1.025);
}

.contactFormContainer button:active {
  transform: scale(0.99);
}
