@import '../../styles/custom-media.css';
@import '../../styles/custom-properties.css';

.root {
  grid-area: hero;
  composes: center from '../../styles/shared.module.css';
  position: relative;
  background-color: var(--color-black, #000);
  color: var(--color-white, #fff);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-bottom: 2rem;
  grid-area: hero;

  @media (--media-min-medium) {
    padding-bottom: 4rem;
  }
}

.root::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  background-image: linear-gradient(#2220, #222e);
  width: 100%;
  height: 50%;
  z-index: 0;
}

.content {
  width: 100%;
  max-width: var(--width-small);
  padding: 0 1.5em;
  box-sizing: border-box;
  z-index: 1;
}

.title {
  position: relative;
  font-weight: 600;
  font-size: var(--font-title2-size);
  line-height: var(--font-title2-line-height);
  text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.6);
  margin: 0;
  padding: 0;
  padding-top: 11rem;
  color: var(--color-white);

  @media (--media-min-medium) {
    font-size: var(--font-title1-size);
    line-height: var(--font-title1-line-height);
    padding-top: 11rem;
  }
}

.tagline {
  position: relative;
  padding: 0;
  text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.6);
  color: var(--color-white);
  font-size: 1.1rem !important;
  font-family: var(--font-family-sans) !important;
  max-width: 30rem;
  font-weight: 500;
  @media (--media-max-large) {
    max-width: 25rem;
    font-size: 1rem !important;
  }
  @media (--media-max-medium) {
    max-width: 20rem;
    font-size: 0.9rem !important;
  }
  @media (--media-max-small) {
    max-width: 16rem;
    font-size: 0.8rem !important;
  }
}

.homepageBanner {
  text-align: center;
  justify-content: center;
  margin-top: -3rem;
  /* makes homepage banner hit bottom of window */
  /* margin: 0 auto; */
}

.homepageBanner h1 {
  white-space: nowrap;
  font-size: 3.75rem;
  @media (--media-max-medium) {
    font-size: 2.25rem;
  }
  @media (--media-max-small) {
    font-size: 1.8rem;
    white-space: nowrap;
  }
}

.homepageBanner > h2 {
  font-size: 2em;
  line-height: var(--font-title2-line-height);
  color: var(--color-light-gray);
  @media (--media-max-medium) {
    font-size: 1.5em;
  }
  @media (--media-max-small) {
    font-size: 1.15em;
  }
}

.homepageBanner h3 {
  font-family: apparat, sans-serif;
  margin-bottom: 0.5em;
  font-weight: 500;
}

.homepageBanner ul {
  margin-top: 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: inline-block;
  font-family: apparat, sans-serif;
  font-weight: 500;
  font-style: normal;
  list-style-type: circle;
}

.homepageBanner ul li {
  line-height: 1.6;
}

.homepageBanner .tagline {
  justify-content: center;
  margin: 0 auto;

  @media (--media-min-medium) {
    font-size: var(--font-small-size);
    line-height: var(--font-small-line-height);
  }
}

.ctas {
  margin-top: 2rem;
  display: flex;
}

.ctas > *:not(:first-child) {
  margin-left: 1rem;
}

.root p a {
  color: inherit;
}
