@import '../../styles/custom-media.css';
@import '../../styles/custom-properties.css';

.industryListContainer {
  margin: 0 auto;
}

.industryListContainer h2 {
  max-width: var(--width-small);
  font-size: var(--font-title2-size);
  line-height: var(--font-title2-line-height);
  padding: 0 1rem;
}

.industryPageSubtitle {
  font-family: var(--font-family-sans);
  font-size: var(--font-title3-size);
  font-style: italic;
  text-align: center;
  color: var(--color-black);
  line-height: var(--font-title3-line-height);
  line-height: 1.5em;
  width: 100vw;
  margin: 0;
  padding: 0.25em 0;
  border-bottom: 1px solid var(--color-black);
  background-color: var(--color-accent);
}

.industryList {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  gap: 1.5rem;
  max-width: var(--width-large);
  margin: 0 auto;
  padding: 1.5rem 2rem 2rem 2rem;
  padding-bottom: 2rem;

  @media (--media-max-large) {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  @media (--media-max-medium) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.galleryFigure:hover .industryImage {
  opacity: 1;
}

.industryList {
  transform-style: preserve-3d;
  perspective: 95vw;
}
.galleryFigure {
  height: 20vw;
  transform-style: preserve-3d;
  transition: all 0.3s cubic-bezier(0, 0.4, 1, 1);
  transform-origin: 0% 100%;
  @media (--media-min-x-large) {
    max-height: 23em;
  }
  @media (--media-max-medium) {
    height: 25vw;
  }
}
.galleryFigure:hover {
  transform: rotateX(-20deg);
  cursor: pointer;
}
.industryFigure {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  border: 1px solid var(--color-black);
  transform-style: preserve-3d;
  transition: background 0.4s cubic-bezier(0, 0.4, 1, 1),
    transform 0.3s cubic-bezier(0.4, 0, 1, 1) 0.1s;
  transform-origin: 0% 0%;
  margin: 0;
}
.industryFigure:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 5vw rgba(191, 191, 191, 0.5);
  opacity: 0;
  transition: opacity 0.4s cubic-bezier(0, 0.4, 1, 1);
}
.galleryFigure:hover .industryFigure {
  background: #999;
  transform: rotateX(20deg) translateY(-1.2vw);
}
.galleryFigure:hover .industryFigure:before {
  opacity: 1;
}

.industryImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.75;
  transition: all 0.25s ease-in-out;
}

.industryDescription {
  padding-right: 1em;
}

.industryDescription p {
  margin-top: 0.5em;
}

.industryName {
  margin-top: 0;
  margin-bottom: 0;
  font-size: var(--font-title3-size);
  line-height: var(--font-title3-line-height);
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 90%;
  transform: translate(-48%, 0);
  color: #e7ebed;
  text-shadow: 1px 1px 5px var(--color-dark-gray);

  @media (--media-max-medium) {
    line-height: var(--font-large-line-height);
  }
}

.industryTitle {
  margin-top: 0;
  text-transform: uppercase;
  color: var(--color-gray);
  font-size: smaller;
}
