@import '../../styles/custom-media.css';
@import '../../styles/custom-properties.css';

.industryListContainer {
  padding: 2rem 0;
  max-width: var(--width-small);
  margin: 0 auto;

  @media (--media-min-medium) {
    padding: 4rem 0;
  }
}

.industryListContainer h2 {
  max-width: var(--width-small);
  font-size: var(--font-title2-size);
  line-height: var(--font-title2-line-height);
  padding: 0 1rem;
}

.industryList {
  max-width: var(--width-small);
  margin: 0 auto;
}

.industryItem {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  padding: 1.5em 1.5em;
}

.industryImage {
  max-width: 100%;
  max-height: var(--width-x-small);
  border-radius: 5px;
  margin-top: 0.4em;
}

.industryDescription {
  padding-right: 1em;
}

.industryDescription p {
  margin-top: 0.5em;
}

.industryName {
  margin-top: 0em;
  margin-bottom: 0;
  font-size: var(--font-title3-size);
  line-height: var(--font-title3-line-height);
}

.industryTitle {
  margin-top: 0;
  text-transform: uppercase;
  color: var(--color-gray);
  font-size: smaller;
}
