@import '../../styles/custom-media.css';
@import '../../styles/custom-properties.css';

.productListContainer {
  max-width: var(--width-small);
  margin: 0 auto;
}

.filterContainer {
  display: flex;
  gap: 1em;
  padding-bottom: 1.5em;
}

.filterButton {
  background-color: transparent;
  border: 2px solid #f3f3f3;
  padding: 1em 2em;
  font-size: var(--font-small-size);
  line-height: var(--font-small-line-height);
  font-weight: bold;
}

.filterButton:hover {
  background-color: #2ea64c30;
  background-color: var(--color-accent);
  border-color: var(--color-accent);
  cursor: pointer;
}

.filterButton:active {
  transform: scale(1.015);
}

.productList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5em;
}

.productList a {
  text-decoration: none;
  color: var(--dark-gray);
}

.productItem {
  color: var(--dark-gray);
  background-color: white;
  background-color: #04a55114;
  border: 2px solid #f3f3f3;
  transition: transform 45ms ease-in-out;
  transform: scale(1);
  height: 100%;
}

.productItem:hover {
  cursor: pointer;
  border: 2px solid var(--color-accent);
  transform: scale(1.01);
}

.productItem:active {
  transform: scale(0.99);
}

.productLink:hover {
  background-color: var(--color-accent);
}

.productImage {
  max-width: 100%;
}

.productImageWrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  /* min-height: 250px; */
}

.productImage:hover {
  cursor: pointer;
}

.productName {
  text-align: center;
  font-size: 1.5em;
  padding: 1em 0;
  margin: 0;
  background-color: white;
  order: 1;
}

.productName:hover {
  /* background: var(--color-accent); */
  /* color: var(--color-white); */
}

.active {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
  color: var(--color-dark-gray);
}
