@import '../../styles/custom-media.css';
@import '../../styles/custom-properties.css';

.submissionFormContainer {
  max-width: var(--width-smaller);
  margin: 0 auto;
  padding: 2rem 4rem;
  line-height: var(--font-large-line-height);
  font-size: var(--font-large-size);
}

.submissionFormContainer label {
  font-size: smaller;
  font-weight: bold;
  margin-top: 1.75rem;
}

.submissionFormContainer select {
  box-sizing: content-box;
}

.submissionFormContainer input,
.submissionFormContainer select,
.submissionFormContainer label {
  display: block;
}

.submissionFormContainer input,
.submissionFormContainer select,
.submissionFormContainer textarea {
  line-height: var(--font-base-line-height);
  font-size: var(--font-base-size);
  font-family: var(--font-family-sans);
  padding: 0.75rem;
  border-radius: 3px;
  border: 1px solid #5b5b5b;
  margin-left: 0.5rem;
  vertical-align: text-top;
  margin-top: 0.25rem;
  width: 90%;
}

.submissionFormContainer select {
  margin-right: 1rem;
}

.submissionFormContainer input {
  font-size: var(--font-large-size);
}

.submissionFormContainer input[type='checkbox'] {
  float: left;
  margin: 0rem 0.75rem 0 0.5rem;
  width: 1.1em;
  height: 1.1em;
  color: var(--color-accent);
}

.submissionFormContainer input[type='checkbox']:hover {
  cursor: pointer;
}

.submissionFormContainer label[title='current-customer-label']:hover {
  cursor: pointer;
}

.submissionFormContainer button {
  background-color: var(--color-accent);
  padding: 0.75em 1.75em;
  font-size: var(--font-title3-size);
  font-family: var(--font-family-sans);
  font-family: 'futura-pt';
  text-transform: uppercase;
  border: none;
  color: var(--color-dark-gray);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

.submissionFormContainer button svg {
  padding-left: 0.5rem;
}

.submissionFormContainer button:hover {
  cursor: pointer;
  transform: scale(1.025);
}

.submissionFormContainer button:active {
  transform: scale(0.99);
}
