@import '../../styles/custom-media.css';
@import '../../styles/custom-properties.css';

.submissionFormWrapper {
  grid-area: submissionForm;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  @media (--media-max-large) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.serviceFormWrapper,
.signupFormWrapper {
  max-width: var(--width-small);
  margin: 0 auto;
  white-space: pre-wrap;
}

.signupFormWrapper {
  background-color: var(--color-accent-light);
  margin-bottom: 2rem;
}

.submissionFormContainer {
  padding: 4rem;
  line-height: var(--font-large-line-height);
  font-size: var(--font-large-size);
  padding: 2rem 4rem 1.5rem 4rem;

  @media (--media-max-large) {
    padding: 2rem 4rem 1.5rem 2rem;
    grid-column-start: 1;
    grid-row-start: 1;
  }

  @media (--media-max-small) {
    padding: 2rem 3.5rem 1.5rem 2rem;
  }
}

.subheading {
  font-size: 1rem;
}

.description {
  font-size: 1rem;
  margin-top: -0.25rem;
}

.submissionFormContainer form {
  @media (--media-max-medium) {
    padding: 4rem 3rem 1.5rem 2rem;
    grid-column-start: 0;
    grid-row-start: 0;
  }
}

.submissionFormContainer form[name='Service Form'] {
  max-width: var(--width-small);
}

.submissionFormContainer h2 {
  font-size: var(--font-title2-size);
  line-height: var(--font-title2-line-height);
}

.submissionFormContainer label {
  font-family: 'apparat', sans-serif;
  font-size: smaller;
  font-weight: bold;
  margin-top: 1.75rem;
}

.submissionFormContainer select {
  box-sizing: content-box;
  background-color: white;
}

.submissionFormContainer input,
.submissionFormContainer select,
.submissionFormContainer label {
  display: block;
}

.submissionFormContainer input,
.submissionFormContainer select,
.submissionFormContainer textarea {
  line-height: var(--font-base-line-height);
  font-size: var(--font-base-size);
  font-family: var(--font-family-sans);
  padding: 0.75rem;
  border-radius: 3px;
  border: 2px solid var(--color-light-gray);
  margin-left: 0.5rem;
  vertical-align: text-top;
  margin-top: 0.25rem;
  width: 90%;
}

.submissionFormContainer select {
  margin-right: 1rem;
}

.submissionFormContainer input {
  font-size: var(--font-large-size);
}

.submissionFormContainer input[type='checkbox'] {
  float: left;
  margin: 0rem 0.75rem 0 0.5rem;
  width: 1.1em;
  height: 1.1em;
  color: var(--color-accent);
}

.submissionFormContainer input[type='checkbox']:hover {
  cursor: pointer;
}

.submissionFormContainer label[title='current-customer-label']:hover {
  cursor: pointer;
}

.submissionFormContainer button {
  background-color: var(--color-accent);
  padding: 0.75em 1.75em;
  font-size: var(--font-title3-size);
  font-family: var(--font-family-sans);
  text-transform: uppercase;
  border: none;
  color: var(--color-dark-gray);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2.5rem;
}

.submissionFormContainer button svg {
  padding-left: 0.5rem;
}

.submissionFormContainer button:hover {
  cursor: pointer;
  transform: scale(1.025);
}

.submissionFormContainer button:active {
  transform: scale(0.99);
}

div#service-form {
  margin-top: -400px;
  padding-top: 400px;
}

.hiddenInput {
  display: none;
}
