@import '../../styles/custom-media.css';
@import '../../styles/custom-properties.css';

.teamListContainer {
  width: 100%;
  max-width: var(--width-small);
  margin: 0 auto;
  padding: 0 2rem;
  box-sizing: border-box;
  @media (--media-min-medium) {
    padding: 1rem 4rem;
  }
}

.teamListContainer h2 {
  max-width: var(--width-small);
  font-size: var(--font-title2-size);
  line-height: var(--font-title2-line-height);
  padding: 0 1.15rem;
  @media (--media-min-large) {
    padding-top: 1rem;
    padding-left: 0.75rem;
  }
  @media (--media-min-small) {
    padding-left: 0.75rem;
  }
}

.teamList {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  max-width: var(--width-small);
  @media (--media-max-medium) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.memberItem {
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 2em;
  align-items: start;
  padding: 0.75em 1.5em;
  @media (--media-max-medium) {
    grid-template-columns: repeat(1, 1fr);
    gap: 1em;
    padding-bottom: 3em;
  }
  @media (--media-min-small) {
    padding-left: 1em;
  }
}

.teamListContainer h2,
.memberItem {
  @media (--media-max-large) {
    padding-left: 0;
    padding-right: 0;
  }
}

.memberImage {
  max-width: 100%;
  max-height: var(--width-x-small);
  outline: 4px solid var(--color-gray);
  margin: 4px;
  @media (--media-min-large) {
    margin-left: 0;
    max-height: 12em;
  }
}

.memberInfo {
  padding: 0 0.5em 0.5em 0.5em;
}

.memberName {
  margin-top: 0em;
  margin-bottom: 0;
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
}

.memberTitle {
  margin-top: 0;
  text-transform: uppercase;
  color: var(--color-gray);
  font-size: var(--font-smaller-size);
  line-height: var(--font-smaller-line-height);
  font-family: var(--font-family-sans);
  white-space: nowrap;
}

.contactInfo h5 {
  margin-bottom: 0;
  font-family: var(--font-family-sans);
}

.contactInfo p {
  margin: 0;
}

.contactInfo a.memberEmail {
  color: var(--color-accent);
  font-weight: 500;
}

.contactInfo a.memberPhone {
  color: var(--color-black);
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px solid #094cfa;
}
