@import '../../styles/custom-media.css';
@import '../../styles/custom-properties.css';

.root {
  padding: 2rem 0;
}

.article {
  width: 100%;
  max-width: var(--width-small);
  margin: 0 auto;
  padding: 0 2rem;
  box-sizing: border-box;

  @media (--media-min-medium) {
    padding: 0 4rem;
  }
}

.label {
  font-size: var(--font-micro-size);
  line-height: var(--font-micro-line-height);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-top: 0.6em;
}

.heading {
  font-size: var(--font-title2-size);
  line-height: var(--font-title2-line-height);
}

.label + .heading {
  margin-top: 0.25em;
}
