@import '../../styles/custom-media.css';
@import '../../styles/custom-properties.css';

.youtubeEmbedContainer {
  padding: 2rem 0;
  max-width: var(--width-small);
  width: 100%;
  margin: 0 auto;
  padding: 0 1.5 rem;
  box-sizing: border-box;

  @media (--media-min-medium) {
    padding: 4rem 1rem;
  }
}

h2.youtubeHeading {
  margin-top: 0.25 em;
  font-size: var(--font-title3-size);
  line-height: var(--font-title3-line-height);
  padding: 0 1.5rem;
}

.youtubeFlex {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: var(--width-small);
  width: 100%;
  margin: 0 auto;
  margin-top: calc(var(--font-title3-size) - 0.5rem);

  @media (--media-max-small) {
    flex-direction: column;
    margin: 0 auto;
  }
}

.video {
  max-width: 80vw;
  padding: 0 1.5rem;
  display: block;
  margin: 0 auto;
}

.youtubeText {
  margin: 0;
  padding: 0 1.5rem;
}
